<!-- Add everything from the base.htm to this page -->
{% extends "base.html" %}

<!-- Add everything inside of block content to the page structure  -->
{% block content %}
<div class="product">
<h5 >{% if form.instance.pk %}Upravit kategorii{% else %}Vytvořit novou kategorii{% endif %}</h5>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-primary" type="submit">{% if form.instance.pk %}Upravit kategorii{% else %}Vytvořit kategorii{% endif %}</button>
    <a class="btn btn-secondary"  href="{% url 'user' %}#new_category">Zpět</a>
</form>
</div>
{% endblock %}