<!-- Add everything from the base.htm to this page -->
{% extends "base.html" %}

<!-- Add everything inside of block content to the page structure  -->
{% block content %}
<div class="form_container">
    <h5 class="main_header">Přidat nový produkt</h5>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_div }}
        <button class="btn btn-primary" type="submit">Vytvořit produkt</button>
        <a href="{% url 'user' %}" class="btn btn-secondary">Zpět</a>
    </form>
</div>
{% endblock %}