<!-- Add everything from the base.htm to this page -->
{% extends "base.html" %}

<!-- Add everything inside of block content to the page structure  -->
{% block content %}


<div class="form_container">
    <h4>Editace produktu: {{ product.name }}</h4>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_div }}
        <button type="submit" class="btn btn-warning">Uložit změny</button>
        <!-- <a href="{% url 'product_detail' product.pk %}" class="btn btn-secondary">Zpět</a>-->
        <a href="{% url 'user' %}" class="btn btn-secondary">Zpět</a>
    </form>
</div>

{% endblock %}

<!--http://127.0.0.1:8000/Eshop_app/product/1/-->