<!-- Add everything from the base.htm to this page -->
{% extends "base.html" %}

<!-- Add everything inside of block content to the page structure  -->
{% block content %}
<div class="form_container">
    <h5>Přihlášení</h5>
    <form method="post">
        {% csrf_token %}
        {{ form.as_div }}
        <button class="btn btn-primary" type="submit">Přihlásit se</button>
        <a class="btn btn-outline-secondary" href="{% url 'password_reset' %}">Zapomněl jsem heslo</a>
    </form>
</div>
{% endblock %}