<!-- Add everything from the base.htm to this page -->
{% extends "base.html" %}

<!-- Add everything inside of block content to the page structure  -->
{% block content %}

<h1 class="main_header">Maso</h1>

<!-- container for products -->
<div class="product-container grid_auto_fill">
    <!-- For loop to show all products -->
    {% for produkt in maso %}
        <!-- include product component -->
        {% include 'components/component_product_with_all_fields.html' with produkt=produkt %}
    {% endfor %}
</div>

{% endblock %}