<!-- Add everything from the base.htm to this page -->
{% extends "base.html" %}

<!-- Add everything inside of block content to the page structure  -->
{% block content %}

<h1 class="main_header">Mléčné a chlazené</h1>

<!-- For loop to show all products -->
<div class="product-container grid_auto_fill">
{% for produkt in mlecne_chlazene %}
    <div class="product">
        <div class="product-category">{{produkt.category}}</div>
        <div class="img"><img src="{{ produkt.image }}" alt="{{ produkt.name }}"></div>
        <div class="title">{{produkt.name}}</div>
        <div class="description">{{produkt.description|linebreaks}}</div>
        <div class="price">{{produkt.price}}</div>
    </div>
{% endfor %}
</div>

{% endblock %}