<!-- Add everything from the base.htm to this page -->
{% extends "base.html" %}

<!-- Add everything inside of block content to the page structure  -->
{% block content %}
<div class="form_container">
    <form method="post" action="{% url 'complete_order' %}">
        {% csrf_token %}
        <h5>Fakturační údaje</h5>
        <table class="table table-striped">
            <tr>
                <td><strong>Jméno:</strong></td>
                <td><input type="text" name="name" value="{{ name|default:'' }}"/></td>
            </tr>
            <tr>
                <td><strong>Ulice a číslo popisné:</strong></td>
                <td><input type="text" name="street" value="{{ street|default:'' }}"/></td>
            </tr>
            <tr>
                <td><strong>Město:</strong></td>
                <td><input type="text" name="city" value="{{ city|default:'' }}"/></td>
            </tr>
            <tr>
                <td><strong>PSČ:</strong></td>
                <td><input type="text" name="postal_code" value="{{ postal_code|default:'' }}"/></td>
            </tr>
            <tr>
                <td><strong>Email:</strong></td>
                <td><input type="email" name="email" value="{{ email|default:'' }}"/></td>
            </tr>
        </table>
        <h5>Platební metoda</h5>
        <select name="payment_method">
            <option value="credit_card">Kreditní karta</option>
            <option value="paypal">PayPal</option>
            <option value="dobírka">Dobírka</option>
        </select>

        <h5 class="mt-3">Kontaktní telefon</h5>
        <input type="text" name="phone" placeholder="Zadejte své telefonní číslo">

        <button class="btn btn-success mt-3" type="submit">Dokončit objednávku</button>
    </form>
</div>
{% endblock %}