<!-- Add everything from the base.htm to this page -->
{% extends "base.html" %}

<!-- Add everything inside of block content to the page structure  -->
{% block content %}

<h1 class="main_header">Ovoce</h1>

<!-- Container for products -->
<div class="product-container grid_auto_fill">
    <!-- For loop to show all products -->
    {% for produkt in ovoce %}
        <!-- include product component -->
        {% include 'components/product_with_all_fields.html' with produkt=produkt %}
    {% endfor %}
</div>

{% endblock %}