<!-- Add everything from the base.htm to this page -->
{% extends "base.html" %}

<!-- Add everything inside of block content to the page structure  -->
{% block content %}

<h1 class="main_header">Vítejte ve svém účtu</h1>

<!-- create product -->
<h5>Vytvořit produkt</h5>
{% include 'components/component_create_product.html' %}

<!-- edit product -->
<h5>Editace produktů</h5>
{% include 'components/component_edit_product.html' with product=product %}

<!-- edit category -->
<h5>Editace kategorií</h5>
{% include 'components/component_category_list.html' with categories=categories %}

{% endblock %}

<!--<a class="btn btn-primary" href="{% url 'edit_product_page' %}" role="button">Editace produktů</a>-->