<div class="product">
    <div class="product-category mb-2">{{ product.category }}</div>
    <div class="img">
        {% if not product.image %}
        {{product.image}}
        {% else %}
        <img src="{{ product.image.url }}" alt="{{ product.name }}">
        {% endif %}
    </div>
    <div class="title">{{ product.name }}</div>
    <div class="price mt-2">Cena: {{ product.price }} Kč</div>
    <p>ID produktu: {{ product.id }}</p>
    <form action="{% url 'add_to_cart' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="product_id" value="{{ product.id }}">
        <button type="submit">Přidat do košíku</button>
    </form>
</div>