<div class="product-container grid_auto_fill mb-4">
    <!-- For loop to show all products -->
    {% for product in products_to_edit %}
    <div class="product">
        <div class="product-category mb-2">{{ product.category }}</div>
        <div class="img">
            {% if product.image %}
            <img src="{{ product.image.url }}" alt="{{ product.name }}">
            {% endif %}
        </div>
        <div class="title">{{ product.name }}</div>
        <div class="description">{{ product.description|linebreaks }}</div>
        <div class="price mt-2">Cena: {{ product.price }} Kč</div>
        <!-- edit product -->
        <a href="{% url 'edit_product' product.pk %}" class="btn btn-primary mt-3" role="button">Editovat product</a>
        <!-- smazat product -->
        <a href="{% url 'delete_product' product.pk %}" class="btn btn-danger mt-3" role="button">Smazat product</a>
    </div>
    {% endfor %}
</div>