// About SASS https://sass-lang.com/guide/#variables

// ** Fonts **
$header: 'Noto Serif Oriya', serif;
$paragraph: 'Quicksand', sans-serif;

body {
  padding: 0;
  margin: 0;


  :not(h1, h2, h3, h4, h5, h6, .title) {
    font-family: $paragraph;
    font-size: 14px;
  }

  h1, h2, h3, h4, h5, h6, .title {
    font-family: $header;
  }

  * {
    box-sizing: border-box;
  }


  .sda_warning {
    font-size: 16px;
    font-weight: 500;
    color: crimson;

    b {
      font-size: inherit;
      font-weight: 700;
    }
  }

  // ** ↑↑ **

  // ** MARGIN **
  $margin-small: 10px;
  $margin-medium: 20px;
  $margin-big: 40px;
  // ** ↑↑ **

  // ** PADDING **
  $padding-small: 10px;
  $padding-medium: 20px;
  $padding-big: 40px;
  // ** ↑↑ **

  // ** FONTS **
  h1 {
    text-align: center;

    &.main_header {
      margin: $margin-big 0;
    }
  }

  // ** GRID **

  // ** GRID **
  $gap-small: 5px;
  $gap-medium: 10px;
  $gap-big: 20px;

  // Grid autofill container
  .grid_auto_fill {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: $gap-big;
    //margin: $margin-big 0;
  }

  // ** ↑↑ **

  // ** CONTAINERS **
  .container_inner {
    padding: 30px 0;
  }

  // ** ↑↑ **

  // product card
  .product {
    padding: $padding-medium;
    border: 1px solid #e7e7e7;
    border-radius: 10px;
    @media screen {

    }

    img {
      width: 100%;
      height: 200px;
      object-fit: contain;
    }

    .title {
      font-size: 16px;
      font-weight: bold;
      line-height: 1;
      color: #993300;
      margin: $margin-small 0;
    }

    .description {
      p {
        margin: 0 0 5px 0;
      }
    }

    .price {
      font-weight: 700;
    }

    // edit product page
    input[type="text"], textarea {
      width: 100%;
      max-width: 500px;
      max-height: 150px;
    }
  }

  // category list
  .category_list {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 5px;
      padding: 10px;

      &:nth-child(odd) {
        background-color: #f2f2f2;
      }

      div {
        &:first-child {
          font-size: 18px;
          font-weight: 500;
        }

        &:nth-child(2) {
          margin-left: auto;
        }
      }
    }
  }
}